<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
</head>
<body>
    <div id="app" class="vh-100 d-flex justify-content-center align-items-center">
        <!--MAIN DIV APP-->
        <div class="main-box d-flex">
            <!--DIVISIONE DUE COLONNE-->
            <!--COLONNA CONTATTI-->
            <div class="colonna-contatti">
                <div class="contact-head d-flex justify-content-between align-items-center p-1 border-end">
                    <div class="img-div p-2">
                        <img src="./assets/img/avatar_io.jpg" alt="avatar_io">
                        <span class="align-middle fw-semibold p-1">Sofia</span>
                    </div>
                    <div class="icon-cont d-flex p-4">
                        <i class="fa-solid fa-circle-notch px-2 cursor-pointer"></i>
                        <i class="fa-solid fa-message px-2 cursor-pointer"></i>
                        <i class="fa-solid fa-ellipsis-vertical px-2 cursor-pointer"></i>
                    </div>
                </div>
                <!--SEZIONE ATTIVA NOTIFICHE-->
                <div class="sez-notifiche azure-bg d-flex align-items-center">
                    <div class="icon-bell-cont p-3">
                        <div class="bg-white rounded-circle bell-cont d-flex justify-content-center align-items-center p-2">
                            <div class="lightblue-color">
                                <i class="fa-solid fa-bell-slash fa-2x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="text-not">
                        <span class="fw-semibold">Ricevi notifiche di nuovi messaggi</span>
                        <span class="d-block"><a href="#">Attiva notifiche desktop</a></span>
                    </div>
                </div>
                <!--BARRA DI RICERCA CONTATTI-->
                <div class="bg-white">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input
                        :keyup="searchContact()"
                        v-model="inputFilter"
                        type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                </div>
                <!--CONTATTI CICLATI-->
                <div v-for="(element,index) in contacts" @click="openChat(element,index)">
                    <div
                        class="d-flex flex-row align-items-center p-2 border-bottom justify-content-between">
                        <div class="d-flex align-items-center cursor-pointer2 cursor-pointer">
                            <img class="img-contacts" :src="'./assets/img/avatar' + element.avatar +'.jpg'" alt="user" class="avatarCustomH rounded-circle"> 
                            <div class="">
                                <p class="m-0"> {{element.name}}</p> 
                                <p class="m-0">Ultimo messaggio inviato</p>
                            </div>
                        </div>
                        <div class="align-self-start">
                            <p>12:00</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--COLONNA CHAT-->
            <div class="colonna-chat">
                <!--CHAT HEADER-->
                <div class="chat-head d-flex justify-content-between align-items-center pt-2 px-2">
                    <div class="img-div-chat d-flex align-items-center">
                        <img :src="'./assets/img/avatar' + contacts[indiceDinamico].avatar + '.jpg'" alt="avatar_1">
                        <div class="px-4">
                            <span class="fw-semibold">{{ contacts[indiceDinamico].name}}</span>
                            <span class="d-block">Ultimo Accesso oggi alle 12:00</span>
                        </div>
                    </div>
                    <div class="icon-cont d-flex align-items-center p-4">
                        <i class="fa-solid fa-magnifying-glass px-2 cursor-pointer"></i>
                        <i class="fa-solid fa-paperclip px-2 cursor-pointer"></i>
                        <i class="fa-solid fa-ellipsis-vertical px-2 cursor-pointer"></i>
                    </div>
                </div>
                <!--CHAT MAIN-->
                <div class="chat-main d-flex flex-column">
                    <div class="d-flex flex-column px-5 py-2">
                        <div 
                        v-for="(element, index) in contacts[indiceDinamico].messages" 
                        :class="(element.status == 'received') ? 'received align-self-start' : 'sent align-self-end'"
                        >
                            
                            <span> 
                                {{ element.message }} 
                            </span>
                            <!-- <span>
                            {{element.date}}
                            </span> -->
                            
                        </div>
                    </div>
                </div>
                <!--CHAT FOOTER-->
                <div class="chat-footer d-flex justify-content-between align-items-center p-2">
                    <div>
                        <i class="fa-regular fa-face-smile fa-2x icon-cont cursor-pointer"></i>
                    </div>
                    <div class="input-group flex-nowrap">
                        
                        <input type="text" class="form-control input-message" placeholder="Scrivi il tuo messaggio"
                         aria-label="Username" aria-describedby="addon-wrapping"
                         v-model="inputMessage"
                         @keyup.enter="sendMessage">
                      </div>
                    <div>
                        <i class="fa-solid fa-microphone fa-2x cursor-pointer icon-cont"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BOOTSTRAP-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!--VUE-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--MIO JS-->
    <script type="text/javascript" src="./assets/js/main.js"></script>

    
</body>
</html>