body{
    background: rgb(0, 168, 132);
    background: linear-gradient(0deg, #dcdbd1 85%, rgb(18, 140, 126) 10%);
}

.main-box{
    width: 75%;
    height: 90%;
}

.colonna-contatti{
    flex-basis: 30%;
    background-color: white;
}

.colonna-chat{
    flex-basis: 70%;
}

.chat-head{
    height: 10%;
}

.chat-main{
    height: 80%;
}

.chat-footer{
    height: 10%;
    background-color: #F3EEEA;
}

.contact-head{
    height: 10%;
    background-color: #EAEAEA;
}

.img-div > img{
    width: 20%;
    border-radius: 50%;
}
.icon-cont{
    color: #B1B1B1;
}

.bell-cont{
    width: 50px;
    height: 50px;
}

.azure-bg{
    background-color: #8EDAFC;
}

.lightblue-color{
    color: #8EDAFC;
}
a{
    color: grey;
}

.chat-head{
    background-color: #EAEAEA;
}

.img-div-chat > img{
    width: 8%;
    border-radius: 50%;
}

.chat-main{
    background-image: url('../img/mine.jpg');
    background-repeat: repeat;
}

.sent {
    width: fit-content;
    background-color: #d5f9ba;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
    
}

.received {
    width: fit-content;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
    
}

.w-100{
    width: 100%;
}

.img-contacts{
    width: 13%;
    border-radius: 50%;
}

.input-message{
    border: none;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-pointer2:hover{
    background-color: #B1B1B1;

}


